@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800|Muli:300,400,500,600,700,800,900&display=swap');

body {
    background: #FFD7C7;
}

h1 {
    font-family: 'Muli', sans-serif;
    color: #68B3A6;
}

p {
    font-family: 'Montserrat', sans-serif;
}