@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800|Muli:300,400,500,600,700,800,900&display=swap');

body {
    background: #FFE9E0;

}

#content {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    margin-block-end: 0;
    color: #79B3A9;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
}



.app {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 80%;
    min-width: 20em;
    margin: 0 auto;

    text-align: center;

}

.todo-list-item {
    list-style: none;
    margin: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #9497B3;

}

/* FORM */
form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 1em;

    background-color: #E8C6C1;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
}

button {
    width: 30%;
    margin: 0 auto;
    color: #fff;
    background-color: #B3968B;

    border-radius: 5px;
    border: 1px solid #FFE9E0;

    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

button:hover {
    color: #B3968B;
    background-color: #FFE9E0;
    border-color: #B3968B;
}
label {
    margin-bottom: 0.5em;

    font-weight: 600;

}
input {
    background-color: #FFFBFA;
}